@{
    ViewData["Title"] = "Account";
}

<h1>Compte Utilisateur</h1>
<p>Vous trouverez ici toutes les infos concernant votre profil, vos réalisations créatives ainsi que les activités auxquelles vous êtes inscrits</p>