@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
    <p>A vous qui fréquentez le PSC Sint-Alexius, ce lieu vous est dédié. Il vous permettra de restez en lien avec la vie du PSC.</p>
    <p>Pour ceux qui ne sont que de passage, il vous permettra d'aller à la rencontre du PSC, de l'intérieur :) !</p>
</div>


<body>
    <div> 
        <p>Citation du jour : "La vie n'est pas une question à résoudre mais une réalité à vivre."</p>
    </div>
    <div>
        <p>Activités d'ajourd'hui :</p>
        <ul>
            <li>Promenade</li>
            <li>Expo</li>
            <li>Film</li>
        </ul>
    </div>
    <div>
        <p>Dernières créations :</p>
    </div>
    <div>
        <p>Nouveaux utilisateurs :</p>
            <li>Aïmane</li>
            <li>Joëlle</li>
            <li>Karel</li>
    </div>
</body>